{
    "chargeableTransferAmount":200,
    "dateOfDeath":"2018-01-01",
    "grossEstateValue":300,
    "propertyValue":300,
    "percentageCloselyInherited": 100,
    "broughtForwardAllowance": 300,
    "propertyValueAfterExemption": {
        "propertyValue": 200,
        "propertyValueCloselyInherited": 200
    }
}
