{
    "chargeableEstateValue":200,
    "dateOfDeath":"2018-01-01",
    "valueOfEstate":300,
    "propertyValue":300,
    "percentageCloselyInherited": 100,
    "broughtForwardAllowance": 300,
    "propertyValueAfterExemption": {
        "value": 200,
        "valueCloselyInherited": 200
    },
    "downsizingDetails": {
        "dateOfDisposal":"2017-01-01",
        "valueOfDisposedProperty":100,
        "valueCloselyInherited": 100,
        "broughtForwardAllowanceAtDisposal": 0
    }
}
