{
    "chargeableEstateValue":200,
    "dateOfDeath":"2018-01-01",
    "valueOfEstate":300,
    "propertyValue":300,
    "percentagePassedToDirectDescendants": 100,
    "broughtForwardAllowance": 300,
    "propertyValueAfterExemption": {
        "value": 200,
        "inheritedValue": 200
    },
    "downsizingDetails": {
        "datePropertyWasChanged":"2017-01-01",
        "valueOfChangedProperty":100,
        "valueCloselyInherited": 100,
        "valueAvailableWhenPropertyChanged": 0
    }
}
